
@font-face {
    font-family: "titlefont";
    src: url(./titleFont.ttf);
}

@font-face {
    font-family: "generalfont";
    src: url("./generalfont.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}





.container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: max(5vw, 20px);
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(73, 73, 137);
}


.container .title{
    width: 100%;
    font-family: "titlefont";
    font-size: max(15px, 4vw);
    font-weight: 600;
    position: relative;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}










.btncont{
    display: flex;
    flex-direction: column;
    gap: max(5vw,10px);
    font-size: max(12px, 1.5vw);
    width: 100%;
    text-align: center;
    font-family: "generalfont";
    font-weight: 600;
}


.container span{
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.container span:not(.active):hover{
    background-color: rgba(40, 40, 116, 0.8);
}

.active{
    background-color: #fff;

}




.main{
    font-family: "generalfont";
    padding: 1rem;
}



.main .maindiv{
    width: min(700px, 45vw);
    margin: 0 auto;
    height: 100%;
    display: flex;
    font-size : max(12px, 1.5vw);
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.ntask{
    font-size: max(25px, 3vw);
    margin-top: 3rem;
}
.main .maindiv .addtaskbtn{
    font-family: inherit;
    height: 45px;
    font-size: inherit;
    font-weight: 500;
    border-radius: 15px;
    border: none;
    outline: none;
}



.main .maindiv .addtaskbtn:hover{
    background-color: rgb(211, 202, 203);
}



.taskcont{
    height: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.samedate{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.samedate .descdiv{
    padding: 20px;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.samedate .descdiv:first-of-type{
    border-top: 2px solid #000;
}

.samedate .descdiv:last-child{
    border-bottom: 2px solid #000;
}



.task{
    /*height: max(100px, 1vh);*/
    text-align: left;
}



.task .descdiv{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 10px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.descdiv button{
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #807979;
    border-radius: 10px;
    transition: border-radius 0.4s;
}

.descdiv button:hover{
    border-radius: 0;
}


.descdiv .tempdiv{
    width: 100%;
    text-align: left;
    font-size: 0.5em;
}

.addtaskform, .addprojectform{
    position : fixed;
    top: 12%;
    border-radius: 15px;
    padding: 20px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #b3a6a6;
}

.addtaskform{
    width: max(150px, 34vw);
    height: max(100px, 25vh);
    justify-content: space-between;
    left: 46%;
}

.addprojectform{
    width: max(90px, 15vw);
    height: max(90px, 14vh);
    justify-content: center;
    left: 56%;
}

.addprojectform input{
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
}




.addprojectform button{
    display: block;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #807979;
}


.close{
    position: absolute;
    width: 50px;
    height: 50px;
    top: -55px;
    right: 10px;
    cursor: pointer;
}


.close .first, .close .second{
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
}


.close .first{
    left: -1px;
    top: 20px;
    transform: rotate(45deg);
}

.close .second{
    right: -1px;
    top: 20px;
    transform: rotate(-45deg);
}


textarea{
    resize: none;
    padding: 13px;
    font-size: 19px;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
}

.hidden{
    display: none;
}



.section button{
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #807979;
}


.section button:hover{
    transform: scaleX(1.2);
}



.section input, .section select{
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
}




.addtaskform :nth-child(7){
    width: 100%;
    text-align: center;
}


.addtaskform :nth-child(5){
    width: 100%;
}



input[type = "checkbox"]{
    cursor: pointer;
}







