
@font-face {
    font-family: "titlefont";
    src: url(./titleFont.ttf);
}

@font-face {
    font-family: "generalfont";
    src: url("./generalfont.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.main{
}



.container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: max(5vw, 20px);
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(73, 73, 137);
}


.container .title{
    width: 100%;
    font-family: "titlefont";
    font-size: max(15px, 4vw);
    font-weight: 600;
    position: relative;
}



.container .title:before, .container .title:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
}

.container .title:before{
    bottom: 15px;
    left: 0;
}

.container .title:after{
    top : 15px;
    left: 0;
}


.btncont{
    display: flex;
    flex-direction: column;
    gap: max(5vw,10px);
    font-size: max(12px, 1.5vw);
    width: 100%;
    text-align: center;
    font-family: "generalfont";
    font-weight: 600;
}


span{
    padding: 20px;
    border-radius: 15px;
}

span:not(.active):hover{
    background-color: rgba(40, 40, 116, 0.8);
}

.active{
    background-color: #fff;

}